html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  background-color: rgb(102, 102, 102);
}